exp_build_pack/tmp_template/change_DOMAIN_number_total/change_DOMAIN_number_total
exp_build_pack/tmp_template/cosmo2NEMO
exp_build_pack/tmp_template/cosmo2WW
exp_build_pack/tmp_template/ecmwf2NEMO
exp_build_pack/tmp_template/ecmwf2WW
*.[oa]
*.exe
exp_build_pack/tmp_template/cosmo2NEMO/wgrib
exp_build_pack/tmp_template/cosmo2NEMO/wgrib.dir
exp_build_pack/tmp_template/cosmo2NEMO/lat.nc
exp_build_pack/tmp_template/cosmo2NEMO/lsm.grb
exp_build_pack/tmp_template/cosmo2NEMO/LSM.nc
exp_build_pack/tmp_template/cosmo2NEMO/emos_000392
exp_build_pack/tmp_template/input4NEMO/med_ref20yto7y.nc
exp_build_pack/tmp_template/input4NEMO/Tmask.nc
aux/old/
sample/download/old/
sample/event/old/
scheduler/old/
transf.wrapper/old/
transf/old/
*.pyc
README.local
.DS_Store
